#IDEA
.idea
**/.idea/**
*.iml
*.ipr
*.iws
.gradle

#Vue
**/node_modules/**
**/dist/**

#Maven
**/target/**
target


#Eclipse
.settings
.project
.classpath
.metadata
.loadpath
.recommenders
*.tmp
*.bak
*.swp
*~.nib

#Vaadin
**/VAADIN/themes/**/styles.css
